<div class="navContainer">
  <div class="navigation">
    <ul>
      <li><a href="/" style="font-weight: bold;">What the Bing?! </a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/Play/">Play</a></li>
      <li><a href="/How-to-Play/">How to Play</a></li>
      <li><a href="/FAQ/">FAQ</a></li>
    </ul>
  </div>
</div>
