<div id="mainContent">
    <h1>What the Bing?! Frequenty Asked Questions (FAQ)</h1>
    <p class="question">Are you sure the image results are family friendly?</p>
    <p class="answer">Mostly. The Bing Image Search API has a filter that *should*
      remove objectionable images, but there exists the possibility that Microsoft's
      filter didn't properly catch something.  If that's the case, please report the
      incident by sending a note to Ed at <a href="mailto:wiede@oregonstate.edu">wiede@oregonstate.edu</a>.  If you can, please
      send the search term.  I'll remove the term from the list.</p>

    <p class="question">What's the inspiration to this game?</p>
    <p class="answer">This game is based on an old Adobe Flash game called
      "Guess the Google", developed by Grant Skinner.  That game had a similar
      premise where users were presented images based on a Google search term and the
      player had to guess the search term used while time allows.</p>
    <p class="answer">Since the game was built using Flash, the game does not exist anywhere, but there
      are a couple references to it on the internet if you search hard enough. Below is a
    graphic of what the original game looked like.  If you click the image, you'll be taken
  to a game review from 2005,</p>

    <a href="https://jayisgames.com/review/2005/05/"><img src="https://jayisgames.com/images/guessthegoogle.gif" /></a>

    <p class="question">Who made "What the Bing?!"</p>
    <p class="answer">Ed Wied</p>

    <p class="question">Where can I view the source code for this?</p>
    <p class="answer">There are four microservices used for this game:</p>
    <ul>
      <li><a href="https://github.com/AnnawanDev/What-the-Bing-UI-service">UI Service</li>
      <li><a href="https://github.com/AnnawanDev/What-the-Bing-Image-Service">Image Service</li>
      <li><a href="https://github.com/AnnawanDev/What-the-Bing-noun-importer-service">Noun-importer Service</li>
      <li><a href="https://github.com/AnnawanDev/CS361-FinalProject">Noun Generator Service</a></li>
    </ul>

    <p class="question">My game wasn't fair! All the images didn't load right away!</p>
    <p class="answer">That's part of the excitement!  It makes it harder to play.</p>

    <p class="question">Where do you get the images?</p>
    <p class="answer">In the game, the images come direct from the Bing Image API.
      On the homepage, the images are either my own, they come free from
      <a href="https://unsplash.com/">https://unsplash.com/</a>, or 10% of the time
      I pull an image from the Bing Image API.</p>

    <p class="question">Why 10%?</p>
    <p class="answer">I didn't want to be constantly hitting the Bing Image API with requests
    and I wanted a snappier loading homepage, so most of the time the homepage loads with static
    imagery but some of the time it draws from Bing.</p>
</div>
