<div id="mainContent">
    <h1>What the Bing?! Frequenty Asked Questions (FAQ)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ex massa. Mauris non sagittis sem, in tempor mauris. Quisque interdum posuere justo ac varius. Nunc et felis sed quam iaculis porta vestibulum quis purus. Aliquam cursus purus et nisl commodo imperdiet. Etiam a congue metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id lorem non erat scelerisque hendrerit quis eget dolor. Morbi viverra convallis sapien, ac malesuada odio luctus vel. Etiam sit amet quam mollis est consequat auctor et in libero. Aliquam eleifend eros sed interdum iaculis. Vivamus gravida in lacus sit amet pulvinar. Pellentesque gravida vel tortor eget volutpat. Maecenas ac fermentum augue, nec lobortis ex. Mauris tincidunt egestas lacus, vel pellentesque leo sagittis ut.</p>
</div>
