<div id="mainContent">
    <h1>What the Bing?! Frequenty Asked Questions (FAQ)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla ac eros id aliquet. Ut at erat varius, efficitur eros a, dignissim enim. Pellentesque eros elit, dapibus vitae dolor at, faucibus blandit lacus. Mauris et metus sed augue tempus tincidunt id in sem. Vivamus dui metus, sodales nec diam a, pharetra sollicitudin leo. Donec vitae mauris sed odio molestie dictum. Etiam nec pharetra ligula. Ut blandit porta sem. Duis et felis nec massa tincidunt condimentum. Donec ornare dignissim orci a iaculis. Mauris sed euismod lacus, eu imperdiet felis. Fusce nec nisl urna. Sed porttitor sagittis luctus. Ut facilisis lectus nec nunc aliquet ultrices. Nam viverra augue lacus, nec mattis urna consectetur non. Donec laoreet sed eros sed consequat.</p>

    <p>Maecenas pulvinar lacinia arcu. Aenean et venenatis neque. Phasellus viverra sapien vel ligula viverra, non accumsan ipsum sodales. Praesent vitae euismod erat. Nulla facilisi. Ut non leo bibendum, egestas arcu quis, pretium nulla. Duis faucibus tellus eget dapibus egestas. Aliquam nisi ex, dictum nec mattis dictum, malesuada varius nulla. Curabitur efficitur sit amet libero et rutrum.</p>
</div>
