<div id="mainContent">
  <div class="floatLeft">
    <a href="/play"><img id="image0" src="/images/home-loading/image0.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <a href="/play"><img id="image1" src="/images/home-loading/image1.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <a href="/play"><img id="image2" src="/images/home-loading/image2.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <div class="endOfImageRow"></div>


    <a href="/play"><img id="image3" src="/images/home-loading/image3.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <a href="/play"><div class="homePageCenterSquareWrapper">
      <div class"homePageCenterSquareText">Play<br />What<br />the<br />Bing?!</div>
    </div></a>
    <img id="image5" src="/images/home-loading/image5.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <div class="endOfImageRow"></div>

    <a href="/play"><img id="image6" src="/images/home-loading/image6.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <a href="/play"><img id="image7" src="/images/home-loading/image7.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <a href="/play"><img id="image8" src="/images/home-loading/image8.jpg" height="150" width="150" class="homePageImageSquares" /></a>
    <div class="endOfImageRow"></div>
  </div>

  <div class="rightBlockText">
    <div style="text-align: left;">
      <h1>What the Bing?!</h1>
      <p>✔️ In "What the Bing?!" you are given 90 seconds to guess the search term
        used to get a set of images.</p>

      <p class="marginTop15">✔️ If you get it wrong, you have
        to keep guessing until you get it right.</p>


      <p id="addedDescription" style="display: none;">
        ✔️ If you guess it right, then
        you are presented with a new set of images and have to guess the search
        term again while time allows.

        <br /><br />
        ⚠️<b>Warning!</b>⚠️<br />
        "What the Bing?!" uses the Bing Image Search API to fetch images.  This
        *should* be a family friendly search game.  Safe searching results are on
        but let <a href="mailto:wiede@oregonstate.edu">Ed</a> know if that's not the
      case and he'll remove the search term.

      </p>
    </div>
    <div style="text-align: right;">
      <a href="#" id="readMoreLink" onclick="showHideDescriptionText();">Read more</a>
    </div>
    <div class="marginTop50">
      <a href="/how-to-play/" class="marginRight15">Read how to play</a>  OR
      <a href="/play/" class="marginLeft15">Play the game</a>
    </div>
  </div>

  <div class="clearMarginPadding"></div>

  <script type="text/javascript" src="/js/homepageScripts.js"></script>
</div>
