<div id="mainContent">
  <div style="float: left;">
    <a href="/play"><img src="/images/what-the-bing-home-image.jpg" width="500" height="500" alt="Play What the Bing?!" /></a>
  </div>

  <div style="width: 300px; float: left; margin-left: 75px;">
    <div style="text-align: left;">
      <h1>What the Bing?!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non arcu et tellus
        pellentesque venenatis vel eget erat. Nunc lacinia orci tincidunt cursus aliquam.
        Curabitur ligula elit, facilisis vel tincidunt vel, porttitor egestas enim.</p>
      <p id="addedDescription" style="display: none;">
        Mauris sit amet mi eu augue pretium vulputate. Interdum et malesuada fames ac ante
        ipsum primis in faucibus. In hac habitasse platea dictumst. Morbi pellentesque erat
        metus, eget fermentum sapien finibus vel.
      </p>
    </div>
    <div style="text-align: right;">
      <a href="#" id="readMoreLink" onclick="showHideDescriptionText();">Read more</a>
    </div>
    <div style="margin-top: 50px;">
      <a href="/play">Play the game</a>
    </div>
  </div>

  <div style="clear: both; margin: 0px 0px 0px 0px; padding: 0px;"></div>

  <script type="text/javascript" src="/js/homepageScripts.js"></script>
</div>
