<div id="mainContent">
  <div style="float: left;">
    <a href="/play"><img src="/images/what-the-bing-home-image.jpg" width="500" height="500" alt="Play What the Bing?!" /></a>
  </div>

  <div style="width: 300px; float: left; margin-left: 75px;">
    <div style="text-align: left;">
      <h1>What the Bing?!</h1>
      <p>In "What the Bing?!" you are given 90 seconds to guess the search term
        used to get a set of images.</p>

      <p style="margin-top: 15px;">❌ If you get it wrong, you have
        to keep guessing until you get it right.</p>



      <!-- <p id="warningText"></p>
      <p></p> -->

      <p id="addedDescription" style="display: none;">
        ✅ If you guess it right, then
        you are presented with a new set of images and have to guess the search
        term again while time allows.

        <br /><br />
        ⚠️<b>Warning!</b>⚠️<br />
        "What the Bing?!" uses the Bing Image Search API to fetch images.  This
        *should* be a family friendly search game.  Safe searching results are on
        but let <a href="mailto:wiede@oregonstate.edu">Ed</a> know if that's not the
      case and we'll remove the search term.

        <!-- <br /><br />
        <a href="/faq">Read more on our FAQ page</a> -->

      </p>
    </div>
    <div style="text-align: right;">
      <a href="#" id="readMoreLink" onclick="showHideDescriptionText();">Read more</a>
    </div>
    <div style="margin-top: 50px;">
      <a href="/play">Play the game</a>
    </div>
  </div>

  <div style="clear: both; margin: 0px 0px 0px 0px; padding: 0px;"></div>

  <script type="text/javascript" src="/js/homepageScripts.js"></script>
</div>
