<div id="mainContent">
  <div style="float: left;">
    <a href="/play"><img src="/images/what-the-bing-home-image.jpg" width="500" height="500" alt="Play What the Bing?!" /></a>
  </div>

  <div style="float: left; margin-left: 75px; ">
    <h1>What the Bing?!</h1>
    <p>Blah... blah... description.....</p>
    <p>Instructions....</p>
    <button id="gameStart" style="margin-top: 50px;">Press here to start</button>
  </div>

  <div style="clear: both; margin: 0px 0px 0px 0px; padding: 0px;"></div>

  <script type="text/javascript" src="/js/homepageScripts.js"></script>
</div>
