<div id="mainContent">
  <h1>How to Play</h1>

  <p style="width: 600px;">You are given 90 seconds to find the search term that was used to find these
    images on Bing.  Guess right and you get another set of images to try.  Guess
    wrong and you have to keep trying.  See how many images you can find!</p>

  <p style="margin-top: 50px; ">When the page loads you'll have a 3 second countdown to get ready.</p>
  <img src="/images/how-to-play/get-ready-screen.png" width="400" height="405" />

  <p style="margin-top: 50px;">The 3 will countdown to 0</p>
  <img src="/images/how-to-play/get-ready-screen-0-time.png" width="400" height="399" />

  <p style="margin-top: 50px;">The game starts! Images will slowly start to load. </p>
  <img src="/images/how-to-play/playing.jpg" width="600" height="344" />

  <p style="margin-top: 50px;">Don't wait for everything to load. If you can, start guessing!  The clock is ticking!</p>
  <img src="/images/how-to-play/playing-where-to-guess.jpg" width="600" height="344" />

  <p style="margin-top: 50px;">If you guess wrong, you'll get feedback underneath.</p>
  <img src="/images/how-to-play/guess-wrong.png" width="600" height="347" />

  <p style="margin-top: 50px;">If you guess right, you'll be told and new images will load. (If there's time left!)</p>
  <img src="/images/how-to-play/guess-right.png" width="600" height="347" />

  <p style="margin-top: 50px;">Each time you guess it right, the score will go up by one.</p>
  <img src="/images/how-to-play/guess-score.png" width="600" height="347" />

  <p style="margin-top: 50px;">When the time runs out, the game will be over.  You'll be shown what the search term is and you can see your final score.  If you like the game, you can play again.</p>
  <img src="/images/how-to-play/game-over.png" width="600" height="414" />

</div>
