<div id="mainContent">
    <h1>What the Bing?! Play the game!</h1>

    <div id="gameBoard" style="float: left;">
      <img id="image0" src="http://www.indigofinance.com.au/wp-content/uploads/2018/07/istock-157528129.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <img id="image1" src="https://api.time.com/wp-content/uploads/2014/09/185260828.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <img id="image2" src="https://cdn.instructables.com/ORIG/FSA/NQLI/J1GP37JL/FSANQLIJ1GP37JL.jpg?width=2100" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <div style="clear: both; margin: 0px 0px 15px 0px; padding: 0px;"></div>

      <img id="image3"src="https://d.newsweek.com/en/full/1513133/coffee-caffeine-drink-cup-stock-getty.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />

      <div id="gameTimer">
      :20
      </div>

      <img id="image4"src="https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/fwx-chinese-coffee.jpg?itok=B-slEc7Z" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <div style="clear: both; margin: 0px 0px 15px 0px; padding: 0px;"></div>

      <img id="image5"src="http://isinginthekitchen.com/wp-content/uploads/2013/03/dsc_0105.jpg?w=401" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <img id="image6"src="https://picjumbo.com/wp-content/uploads/coffee-beans-vertical-1570x2355.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <img id="image7"src="https://images.indulgexpress.com/uploads/user/ckeditor_images/article/2019/2/14/ARAKU3.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
      <div style="clear: both; margin: 0px 0px 30px 0px; padding: 0px;"></div>
    </div>

    <div id="statusArea" style="float: left;">
      <div style="background-color: #486edf; padding: 50px; margin: 0px 0px 0px 30px;">
        Guess the search term used: <br />
        <input type="text" id="inputGuessSearch" />
        <button id="btnGuessSearch">Submit</button>
      </div>

      <div style="background-color: #486edf; padding: 50px; margin: 30px 0px 0px 30px;">
        # Correct: <br />
        <input type="text" id="correctCount" value="0" />
      </div>
    </div>

    <div style="clear: both; margin: 0px 0px 0px 0px; padding: 0px;"></div>

    <script type="text/javascript" src="/js/playGame.js"></script>
</div>
