<div id="mainContent">
    <!-- <h1>What the Bing?! Play the game!</h1> -->
    <img src="/images/get-ready.jpg" width="500" height="500" alt="" id="getReadyToPlayImage" />
    <div id="readyToPlayDiv" >
      <div style="position: relative; top: -330px; left: 190px">
        <div style="font-size: 1.5em;">Get ready in....</div>
        <div id="getReadyCountdownTimer" style="font-size: 7em;">3</div>
      </div>
    </div>

    <div id="theGameDiv" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
      <div id="gameBoard" style="float: left;">
        <img id="image0" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <img id="image1" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <img id="image2" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <div style="clear: both; margin: 0px 0px 15px 0px; padding: 0px;"></div>

        <img id="image3" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />

        <div id="gameTimer">
        :90
        </div>

        <img id="image4" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <div style="clear: both; margin: 0px 0px 15px 0px; padding: 0px;"></div>

        <img id="image5" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <img id="image6" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <img id="image7" src="/images/loading.jpg" height="150" width="150" style="float: left; margin: 0px 15px 0px 0px; padding: 0px;" />
        <div style="clear: both; margin: 0px 0px 30px 0px; padding: 0px;"></div>
      </div>

      <div id="statusArea" style="float: left;">
        <div id="searchInputBoxDiv" style="background-color: #486edf; padding: 50px; margin: 0px 0px 0px 30px;">
          <p style="color: #ffffff;">Guess the search term used: </p>
          <input type="text" id="inputGuessSearch" />
          <button id="btnGuessSearch">Submit</button>
          <div id="userGuesses"></div>
        </div>

        <div id="gameOverDiv" style="background-color: #486edf; padding: 50px; margin: 0px 0px 0px 30px;">
          <h2 style="color: #ffffff;">Game Over</h2>
          <p id="finalWord" style="color: #ffffff; text-align: right;"></p>
        </div>

        <div id="gameScoring" style="background-color: #486edf; padding: 50px; margin: 30px 0px 0px 30px;">
          <p style="color: #ffffff;"># Correct: </p>
          <p id="playerScore" style="color: #ffffff; font-size: 3em;">0</p>
        </div>
      </div>

      <div style="clear: both; margin: 0px 0px 0px 0px; padding: 0px;"></div>
    </div>

    <script type="text/javascript" src="/js/playGame.js"></script>
</div>
